<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="fonts.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Noty</title>
</head>

<body class="loading">
  <div id="loading-overlay"></div>
  <div id="drag-overlay"></div>

  <div id="languages-overlay">
    <ul id="languages-selector"></ul>
  </div>

  <div id="app">
    <div id="titles"></div>
    <div id="editors"></div>
    <div id="statusbar"></div>
  </div>

  <script type="text/javascript">
    require('./loader')
  </script>
</body>

</html>