html,
body {
  height: 100%;
  background-color: #282c34;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Nimbus Sans L';
  font-size: 15px;
}

#drag-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 9999;

  display: none;
  -webkit-app-region: no-drag;
}

#drag-overlay.draggable {
  display: block;
  -webkit-app-region: drag;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

#app > * {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Titles */

#titles {
  display: block;
  background-color: #21252b;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-app-region: drag;
}

#titles > * {
  display: inline-block;
  padding: 10px;
  min-width: 30px;
  max-width: 100px;
  line-height: 16px;
  cursor: pointer;
  user-select: none;
  -webkit-app-region: no-drag;
}

#titles > *:hover {
  background-color: #323842;
}

#titles > .active {
  background-color: #282c34;
}

#titles > * > .close {
  display: inline-block;
  margin-left: 10px;
}

#titles > .changes > .close::after {
  content: '•';
  font-size: 24px;
  vertical-align: bottom;
}

#titles > :not(.changes) > .close::after {
  content: '×';
  font-size: 18px;
}

#titles > :not(.active) {
  opacity: 0.2;
}

/* Editors */

#editors {
  flex-grow: 1;
}

#editors > * {
  height: 100%;
}

#editors > :not(.active) {
  display: none;
}

/* Statuses */

#statusbar {
  background-color: #21252b;
}

#statusbar > * {
  margin: 0;
  padding: 4px;
  font-size: 14px;
}

#statusbar > :not(.active) {
  display: none;
}
